.search-bar {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.search-bar input {
  flex: 1;
  width: 1px;
  padding: 10px;
}

.search-bar button {
  width: 120px;
  height: 80px;
  margin-left: 15px;
  font-size: 24px;
  text-align: center;
  line-height: 80px;
}

.item {
  position: relative;
}

.item-add {
  width: 100px;
  height: 60px;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  text-align: center;
  line-height: 60px;
  background: none;
}
